[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/anonsurf start
Comment=Routes all internet packets/traffic through Tor
Name=Anonsurf Start
Icon=/usr/share/icons/stock_media-play.png
Categories=Network;anonsurf;
